body {
    display: flex;
    flex-direction: column;
    margin: 0;
    
}
header{
    background-color: #1f2937;
    padding: 10px 200px;
    font-size: 18px;
    color: #e5e7eb;
}
.top-contents{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.top-contents h1{
    font-size: 24px;
    color: #f9faf8;
}

.top-contents nav{
    display: flex;
    gap: 15px;
}

.top-contents a{
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-main {
    display: flex;
    flex-direction: column;
    width: 450px;
    flex-wrap : wrap;
}

.hero-main h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
}

.hero-main button {
    width: 100px;
    background-color: #3882f6;
    color: #f9faf8;
    padding: 5px 14px;
    font-size: 14px;
    border-radius: 5px;
    border: 2px solid #3882f6;
}

.image-description h1 {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}
.images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 232px;
    flex-wrap: wrap;

}
.images img {
    border-radius: 10px;
    border: 4px solid #3882f6;
}

.quote-section {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 100px;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #e5e7eb;
}

.quote-section p{
    font-size: 36px;
    font-style:italic;
    font-weight: lighter;
    color: #1f2937;
}

.call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
    background-color: #3882f6;
    margin: 50px 150px;
    padding: 25px 25px;
    border-radius: 5px;
}

.author {
    align-self: flex-end;
    font-weight: bolder;
    font-size: 20px;

}
.left-items h2 {
    color: #f9faf8;
}
.left-items p {
    color: #e5e7eb;
}

.call-to-action button {
    padding: 5px 30px;
    color: white;
    background-color:#3882f6;
    border: 2px solid  white;
    border-radius: 5px;
}

footer {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e5e7eb;

}
